@model Department
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <title>Details</title>
</head>
<body>
    <h1 class=" bg-info alert-info" > 
     Department id = @Model.DeptId
     Department name = @Model.DeptName

    </h1>

    

    

</body>
</html>
