@model IEnumerable< StudentCourse>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <title>AddDegree</title>
</head>
<body>
    <div>student degree in @Model.First().Course.Crs_Name</div>



    <form method="post">
        @foreach (var std in Model)
        {
            <div class="form-group">
                <label Name="@std.Student.Name">@std.Student.Name </label>
                <input type="number" Name="degree.@std.StudentId" value="@std.Degree" class="form-control">
            </div>
        }
        <input type="submit" value="change degree" class="btn btn-success">

    </form>

</body>
</html>
