@model Course
@{
    Layout = null;
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <title>Create</title>
</head>
<body>
    <form method="post">

        <label asp-for="Id"></label>
        <input asp-for="Id" /><br><br>

        <label asp-for="Crs_Name"></label>
        <input asp-for="Crs_Name"><br><br>

        <label asp-for="Duration"></label>
        <input asp-for="Duration" /><br><br>

      

        <input type="submit" value="add course">

    </form>
</body>
</html>
